.content:not(:last-child) {
	margin-bottom: 0;
}

.section {
	padding: 3rem 10%;
	h3 {
		font-size: 30px;
		font-weight: 500;
	}
	h4 {
		font-size: 25px;
		font-weight: 500;
	}
	p {
		font-size: 14px;
		line-height: 1.7rem;
		text-align: left;
		font-weight: 400;
	}
	,
	.subtitle {
		text-align: left;
		font-size: 1.2rem;
		font-weight: 500;
	}
}
.dark-section {
	background-color: $background-color;
	color: #fff;
	h3,
	h4,
	.subtitle {
		color: #fff;
	}
}
.light-section {
	background-color: #fff;
	border-bottom: 1px solid $grey;
}

.button-white {
	background-color: #fff;
	color: $primary-text;
	border-radius: 30px;
	padding: 0.8rem 4rem;
	font-weight: 500;
}
.button-isPrimary {
	background-color: $blue;
	color: #fff;
	border-radius: 30px;
	border: 1px solid $blue;
	padding: 0.8rem 4rem;
	font-weight: 500;
	&:hover {
		color: #fff;
	}
}
.button-isSecondary {
	background-color: #fff;
	color: $blue;
	border-radius: 30px;
	border: 1px solid $blue;
	padding: 0.8rem 4rem;
	font-weight: 500;
	&:hover {
		color: $blue;
	}
}
