.content {
	&:not(:last-child) {
		margin-bottom: 0;
	}
	@include xl, lg, md {
		img {
			width: 250px;
		}
		.foundation-img {
			width: 200px;
		}
	}
}

.section {
	padding: 5rem 10%;
	h1 {
		font-weight: 500;
		font-size: 40px;
	}
	h2 {
		font-weight: 500;
	}
	h3 {
		font-size: 30px;
		font-weight: 500;
	}
	h4 {
		font-size: 25px;
		font-weight: 500;
	}
	p {
		font-size: 14px;
		line-height: 1.7rem;
		text-align: left;
		font-weight: 400;
	}
	.sub-p {
		font-size: 20px;
	}
	.subtitle {
		text-align: left;
		font-size: 1.2rem;
		font-weight: 500;
	}
}
.dark-section {
	background-color: $background-color;
	color: #fff;
	h1,
	h3,
	h4 {
		color: #fff;
	}
	h4 {
		font-weight: 100;
	}
	.subtitle {
		color: #fff;
		font-size: 25px;
	}
}
.light-section {
	background-color: #fff;
	border-bottom: 1px solid $grey;
}

.email-input-box {
	border-radius: 30px;
	border: none;
	padding: 0.5rem 2rem;
	margin-right: 1rem;
	outline: none;
	font-weight: 200;
	font-size: 16px;
	background-color: $grey;
}

.button-white {
	background-color: #fff;
	color: $primary-text;
	border-radius: 30px;
	padding: 0.4rem 2rem;
	font-weight: 500;
	border: none;

	@include sm {
		margin-top: 1rem;
	}
}
.button-isPrimary {
	cursor: pointer;
	outline: none;
	background-color: $blue;
	color: #fff;
	border-radius: 30px;
	border: 1px solid $blue;
	padding: 0.4rem 2rem;
	font-weight: 500;
	&:hover {
		color: #fff;
	}
	@include sm {
		margin-top: 1rem;
	}
}
.button-isSecondary {
	background-color: #fff;
	color: $blue;
	border-radius: 30px;
	border: 1px solid $blue;
	padding: 0.8rem 4rem;
	font-weight: 500;
	&:hover {
		color: $blue;
	}
}

.isometric-grid {
	background-image: url('../assets/img/isometric_grid2.png');
	background-size: 90% auto;
	background-repeat: no-repeat;
	background-position: right top;
}

.header_bubbles_bkg {
	background-image: url('../assets/img/header_bubbles_left.png'),
		url('../assets/img/header_bubbles_right.png');
	background-size: 250px auto;
	background-repeat: no-repeat;
	background-position: left top, 100% 100%;
}

.white_bubbles_bkg {
	background-image: url('../assets/img/white_bubbles_right.png');
	background-size: 250px auto;
	background-repeat: no-repeat;
	background-position: right top;
}
