@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import './assets/helpers/normalize.scss';
@import './assets/helpers/breakpoints.scss';
@import './view/LandingPage/styles/index.scss';

.root {
	min-height: 100vh;
	min-width: 100vw;
	box-sizing: border-box;
	font-family: 'Lato';
	font-weight: 400;
}

html {
	font-size: 62.5%;
}
