.call-to-action {
	margin: 1rem 0;
	height: 32.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $brand-color-light;
	color: #fff;
	width: 100%;
	text-align: center;
	h2 {
		font-size: 4.8rem;
		width: 72.8rem;
		font-weight: 400;
	}

	.request-demo {
		width: 17rem;
		height: 4.3rem;
		color: $brand-color-light;
		border: none;
		background-color: #fff;
		border-radius: 3px;
		font-size: 1.8rem;
		outline: none;
		cursor: pointer;
	}

	@include sm {
		h2 {
			font-size: 3.6rem;
			width: 33.5rem;
		}
	}
}
